body {
    background-color: floralwhite;
}

.float-container{    
    padding: 20px;
    margin: 20px;
}

.float-child {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    width: 12.5%;
    float: left;
    padding: 20px;
    border: 2px solid black;
}

#eventInfo {
    background-color: black;
    color: white;
}

.title {
    color: black;
}

.form-control {
    font-family: "Times New Roman", Times, serif;
    color: black;
}

#addEvent {
    background-color: black;
}

#searchButton {
    background-color: floralwhite;
    color: black;
    border: 1px solid black;
}

nav {
    background-color: firebrick;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    border-bottom: 4px solid black;
}

.time {
    height: 54px;
}

.events {
    height: 720px;
}

.rounded-corners {
  width: 200px;
  height: 100px;
  background-color: white;
  border-radius: 20px;
}

.popup {
    position: fixed;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    border: 1px solid #888;
    background-color: gainsboro;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: none; /* Initially hidden */
    z-index: 1000; /* Ensures the popup stays on top of other content */

}

#Close {
    position: absolute;
    top: 5px;
    right: 10px;
    right-padding: 5px;
    background-color: gainsboro;
    color: black;
    border: 10px;
    border-radius: 50%;
    width: 20px;    
    height: 20px;
    line-height: 10px;
    text-align: center;
    cursor: pointer;
}

.popuptext h3 {
    margin-top: 0;
    font-family: "Roboto Mono", monospace;
}

.popuptext {
    font-family: "Roboto Mono", monospace;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

button {
    background-color: DarkBlue;
    border-radius: 2px;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.weekday {
    display: flex;
    align-items: center; 
    margin-right: 10px; 
}

.weekday label,
.weekday input[type="checkbox"],
.weekday input[type="time"] {
    margin-right: 5px; 
}

.time-input {
    display: none;
}

.calendar-event {
    color: firebrick;
    border-radius: 5px;
    border: 1px black;
    
}
